body{
    background-color: white;
}
h1{
    text-align: center;
}

.button {
  background-color: seagreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:auto;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  
}

.button:hover{
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.container1{
    background-color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    margin: auto;
    width: 40%;

    height: 140px;
    cursor: pointer;   
}

label{
    font-size: 32px;
    padding: 2px;
    margin: auto;
    color: black;
}

p{
        font-size: 32px;
        padding: 10px;
        margin: auto;
        color: black;

}
